.catalogo-view-container {
  display: flex;
  height: 100%;
}

.catalogo-column, .procesos-column {
  padding: 20px;
  height: 100%;
  overflow-y: auto;
}

.catalogo-column {
  flex: 1;
  border-right: 1px solid #e2e8f0;
}

.procesos-column {
  flex: 2;
}

.placeholder-text {
  color: #a0aec0;
  text-align: center;
  margin-top: 50px;
  font-style: italic;
}
